h1{
    color: rgb(47, 9, 153);
}
.avatar {
    background-image: url("abhi.jpg");
    background-size: 170px 200px;
    background-color: black;
    width: 170px;
    height: 200px;
    border: 6px solid;
    

}
#name {
    border-radius: 10px;
    background-image: url("solidLigth.jpg");
    background-size: 100px;
    color: rgb(206, 226, 220);
    width: 240px;
    height: 45px;
    background-color: rgba(0, 140, 255, 0.87);
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
#main {
    background-color: black;
    color: black;
    position: 50px 50px;
}
#upperWall{
    background-image: url("road.jpg");
    background-size: 1262px;
    background-color: black;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom:-1200px;
    
    background-position-x: 0px;
    background-position-y: 0px;
}
.info{
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 10px;
    background-image: url("rose.jpg");
    background-size: 260px 140px;
    background-color: darkorchid;
    width: 250px;
    height: 140px;
    font-size: 12px;
    text-align: left;
    position: relative;
    top:10px;
}
ul {
    color: rgb(2, 17, 3);
}
#sk {
    list-style-type: katakana;
    font-family: 'Pacifico', cursive;
    color: rgb(1, 5, 1);
}
#skills {
    border-radius: 10px;
    background-image: url("rose.jpg");
    background-color: rgb(73, 9, 20);
    background-size: 255px 380px;
    color: rgb(11, 20, 3);
    width: 250px;
    height: 380px;
    box-shadow: 10px;
}
#social {
    float: left;
}
#social ul li {
        display: inline;
}
#socialMedia {
    opacity: 1;
    width: 210px;
    height: 50px;
}

.fb:hover {
    opacity: 0.7;
}
.lin:hover {
    opacity: 0.7;
}
.ins:hover {
    opacity: 0.7;
}
#about {
    font-family: 'Satisfy', cursive;
    border: 10px solid;
    border-color: black;
    width: 820px;
    height: 400px;
    
}
#ski {
    font-family: 'Pacifico', cursive;
    color: rgb(10, 104, 52);
    font-size: 20px;
}
p{
    font-size: 30px;
    color: aliceblue;
}
#aboutH{
    width: 800px;
    height: 50px;
}
.blockSk {
    font-size: 20px;
    color: rgb(51, 51, 202);
    
}
.bar {
    height: 10px;
    width: 200px;
    position: relative;
    left:30px;
    top:2px;
    font-family: 'Pacifico', cursive;
    background-color: rgb(208, 219, 219);
    border-radius: 10px;
    border: 2px solid;
}
.bar>span {
        display: block;
        position: relative;
        
        width: 200px;
        height: 10px;
      border-radius: 10px;
      background-color: blue;  
}
